<div class="dieingStock">
  <div class="row">
      <table class="table table-responsive">
        <thead>
          <tr>
          	 <th>Product Code</th>
             <th>Item</th>
             <th>Qty</th>
             <th>Add</th>
           </tr>
         </thead>
         <tbody>

         </tbody>
    </table>
  </div>
</div>