<div class="row">
	<div class="col-lg-3">
		<div class="reportPriceHolder">
		<i class="glyphicon glyphicon-usd"></i>
			<h4><%= salesToday %></h4>
			<small>Today</small>
		</div>
	</div>
	<div class="col-lg-3">
		<div class="reportPriceHolder">
		<i class="glyphicon glyphicon-usd"></i>
			<h4><%= salesThisWeek %></h4>
			<small>This Week</small>
		</div>
	</div>
	<div class="col-lg-3">
		<div class="reportPriceHolder">
		<i class="glyphicon glyphicon-usd"></i>
			<h4><%= salesThisMonth %></h4>
			<small>This Month</small>
		</div>
	</div>
	<div class="col-lg-3">
		<div class="reportPriceHolder">
		<i class="glyphicon glyphicon-usd"></i>
			<h4><%= salesThisYear %></h4>
			<small>This Year</small>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-lg-10 col-lg-offset-1">
		<canvas id="myChart" width="600" height="400"></canvas>		
	</div>
</div>


