  <form role = "search">
  	<div class = "form-group">
  		<input id="SerachProduct" type="text" class="form-control" placeholder="Search by Product Name">
  	</div>
  </form>
  <div class="invoiceItemsContainer table-responsive">
  <div class="row">
  	<table class="table">
  		<thead>
  			<tr>
  				<th>#</th>
  				<th>Item</th>
  				<th>Qty</th>
  				<th>Total</th>
  			</tr>
  		</thead>
  		<tbody>

  		</tbody>
  		<tfoot>
  			<tr>
  				<th colspan="2" class="text-right">Grand Total:</th>
  				<th id="qtyTotal"> 0 </th>
  				<th class="text-right">
           <i class="glyphicon glyphicon-usd"></i>
            <strong id="grandTotal" > 0 </strong> </th>
  			</tr>
  		</tfoot>
  	</table>
  </div>
  </div>