$icon-font-path: '../bower_components/sass-bootstrap/fonts/';
@import "sass-bootstrap/lib/bootstrap";

$Orange 	: #f39c12;
$Pumpkin 	: #d35400;
$Green   	: #2ECC71;
$DullGreen  : #27ae60;
.navbar > .container .navbar-brand{
	color:$Orange;
	letter-spacing: -1px;
	-webkit-transition: .5s color;
	-moz-transition: .5s color;
	-ms-transition: .5s color;
	-o-transition: .5s color;
	transition: .5s color;
	&:hover{
		color:$Pumpkin;
	}
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus,.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus{
	color: $Orange;
	background: #fff;
	box-shadow: 0 0 1px $Orange;
	
	&:after{
		border-top:3px $Orange solid;	
		border-left: rgba(0, 0, 0, 0) 4px solid;
		border-right: rgba(0, 0, 0, 0) 4px solid;
		position:absolute;
		top:0;
		left: -5px;
		right: -5px;
		content: '';
	}
	.glyphicon{
		color:$Orange;
	}
}
.navbar-default{
	border-top:none;
	border-bottom:{
		color:$Orange;
		width: 2px;

	}
	
	.glyphicon{
		color:#999;
	}

	.dropdown-menu .glyphicon{
		color: #777;
	}
	.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus{
		background: $Orange;
	}
	.dropdown-menu > li > a:hover .glyphicon, .dropdown-menu > li > a:focus .glyphicon{
		color: #fff;
	}
}
input[disabled]#SerachProduct{
	color:$Orange;
	font-style: italic;
	border-color:$Orange;
	text-transform: uppercase;
	-webkit-transition: .5s all;
	-moz-transition: .5s all;
	-ms-transition: .5s all;
	-o-transition: .5s all;
	transition: .5s all;
}
.modal{
	overflow : auto;
	.modal-dialog{
		width: 65%;
	}
}
.table{
	th,td:first-child,.invoiceItemsContainer td:nth-child(4) input{
		text-align: center;
	}
	th.text-right{
		text-align:right;
	}
	strong{
		font-weight: bold;
		font-size: 21px;
	}
	.glyphicon{
		font-size: 11px;
		margin-bottom: 1px;
		color: #999;
	}
	.glyphicon-trash:hover{
		color:red;
	}
	#grandTotal{
		border-bottom: 4px #333 double;
	}
}
.twitter-typeahead{
	width: 100%;
}
#SerachProduct,
.typeahead,
.tt-query,
.tt-hint {
	@extend input;
  width: 100%;
  height: 40px;
  padding: 8px 12px;
  line-height: 30px; 
}

.typeahead {
  background-color: #fff;
}

.typeahead:focus {
  border: 2px solid #0097cf;
}

.tt-query {
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
     -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.tt-hint {
  color: #999
}

.tt-dropdown-menu {
  width: 100%;
  font-weight: normal;
  margin-top: 12px;
  padding: 8px 0;
  background-color: #fff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 8px;
     -moz-border-radius: 8px;
          border-radius: 8px;
  -webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2);
     -moz-box-shadow: 0 5px 10px rgba(0,0,0,.2);
          box-shadow: 0 5px 10px rgba(0,0,0,.2);
}

.tt-suggestion {
  padding: 3px 20px;
  font-size: 14px;
  line-height: 24px;
  border-bottom:1px #ddd solid;
  .row{
  	margin:0;
  }
  .glyphicon{
  	font-weight: normal;
  	font-size: 12px;
  	color:#999;
  }
}

.tt-suggestion.tt-is-under-cursor {
  color: #fff;
  background-color: #0097cf;
 	.glyphicon{
	 	color:#fff;
	 }
}

.tt-suggestion p {
  margin: 0;
  font-weight: bold;
  font-size: 17px;
 span{
 	font-weight: normal;
 }
}

.reportPriceHolder{
	position: relative;
	text-align: center;
	background: $Green;
	border: 1px #DDD solid;
	color: #FFF;
	border-radius: 4px;
	.glyphicon{
		color : $DullGreen;
		position: absolute;
		top: 9px;
		left: 0;
		font-size: 40px;
	}
	h4{
		font-size: 25px;
	}
	small{
		color: #ddd;
	}
}

@media print{
	.glyphicon-trash{
		display: none
	}
	table td{
		border: 2px solid #eee;
	}
	td:nth-child(4){
		width: 80px;
	}
	td:nth-child(5){
		width: 150px;
	}
	.visible-print .col-lg-3{
		background:transparent;
	}
	input.input-qty{
		border: none;
		outline: none;
		box-shadow: none;
		text-align: center;
	}
	input::-webkit-outer-spin-button,
	input::-webkit-inner-spin-button {
	    /* display: none; <- Crashes Chrome on hover */
	    -webkit-appearance: none;
	    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
	}
}
